
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; /* Fonte */
}

/* Centrar vertical e horizontal */
#main-menu, #game-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura total da janela */
    background-size: cover; /* Garantir que o fundo cobre toda a área */
    background-position: center; /* Centrar a imagem de fundo */
    background-repeat: no-repeat; /* Impedir repetição da imagem de fundo */
    text-align: center; /* Centrar alinhamento do texto */
    color: white; /* Definir cor do texto  */
    padding: 20px; /* Adicionar preenchimento para melhor espaçamento */
}

#main-menu {
    background-image: url('./assets/start.jpg'); /* imagem de fundo para o menu principal */
}

#game-end {
    background-image: url('./assets/backgroundMain.jpeg'); /* imagem de fundo para o ecrã final */
    display: none; /* Ocultar ecrã de fim de jogo */
}

/* Estilos de texto */
#main-menu h1, #game-end h1 {
    font-size: 3rem; /* Ajusta tamanho da fonte */
    margin-bottom: 20px; /* Ajusta margem inferior */
}

#main-menu h2, #game-end p {
    font-size: 1.5rem; /* Ajusta tamanho da fonte */
    margin-bottom: 20px; /* Ajusta margem inferior */
}

#main-menu p {
    font-size: 1rem; /* Ajustartamanho da fonte */
    margin-bottom: 20px; /* Ajusta margem inferior */
}

/* Style dos buttoes */
button {
    margin: 10px 0; /* Ajustar margens */
    padding: 15px 30px; /* Adicionar preenchimento  */
    font-size: 1rem; /* Ajusta tamanho da fonte */
    background-color: #333; /* cor de fundo */
    color: white; /* cor do texto */
    border: none; /* Remover borda */
    border-radius: 5px; /* raio de borda */
    cursor: pointer; /* Muda cursor para dedo ao passar por cima */
    transition: background-color 0.3s; /* Transição suave para cor de fundo */
}

button:hover {
    background-color: #555; /* Muda cor de fundo ao passar o rato */
}

#game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/main.jpg');
    background-size: cover; /* Scale a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Impedir repetição da imagem */
    background-position: center; /* Centra a imagem */
    position: relative;
}

/* Style jogador e dos obstáculos */
#player {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: top 0.05s ease; /* Aumentar a velocidade de movimento */
}

.obstacle {
    position: absolute;
    width: 75px; /* Ajusta largura */
    height: auto; /* Manter proporção */
}

/* Estilos de estatísticas do jogo */
#game-stats {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#game-stats h2 {
    margin: 0 0 10px 0;
}

#game-stats p {
    margin: 5px 0;
}

#mute-button-game {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;